<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="coffeenet/_layout">

<head>
    <!-- your head code belongs here -->
    <title>Thymeleaf Example</title>
</head>

<body>
<main layout:fragment="coffeenet-main">
    <!-- your main code belongs here -->
    <span>
        Back to <a href="/index-javascript.html">JavaScript</a>
    </span>
    <div>You can place your stuff</div>
</main>
<th:block layout:fragment="coffeenet-scripts">
    <!-- your scripts belongs here -->
</th:block>
</body>
</html>